body {
    background-color:white;
    margin:0;
    padding:0;
}
.nav_bar {
    height: 60px;
    width: 100%;
    background-color:black;
    border: 1px black solid;
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding-right: 100px;
    align-items: center;
    position: fixed;
}
.nav_bar a {
    text-decoration: none;
	font-family: Cambria, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: white;
}
.nav_bar li {
    display: inline-block;
    padding-left: 30px;
}
.mylogo {
    width: 150px;
    height: 60px;
    background-image: url('mapi.png');
    background-size: contain;
}
.container0 {
    width: 100%;
    height: 1000px;
    background-image: url('screendata.png');
    object-fit: contain;
    background-repeat: no-repeat;
}
.q {
    height: 150px;
    width: auto;
    background-color:white;
    border-top:black solid 1px;
    border-bottom:black solid 1px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.q p {
    font-size: 50px;
    margin: auto;
}
.container1 {
    display:flex;
    height: 500px;
}
.box1 {
    background-image: url('screendata.png');
    background-size: contain;
    flex:1;
    
}
.box2 {
    color:red;
    flex:1;
}
