body {
    margin:0;
    padding:0;
}
.nav_bar {
    height: 60px;
    width: 100%;
    background-color: #242431;
    border: 1px black solid;
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding-right: 100px;
    align-items: center;
    position: fixed;
}
.nav_bar a {
    text-decoration: none;
	font-family: Cambria, serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.3em;
	color: white;
}
.nav_bar li {
    display: inline-block;
    padding-left: 30px;
}
.mylogo {
    width: 150px;
    height: 60px;
    background-image: url('mapi.png');
    background-size: contain;
}
.container0 {
    width: 100%;
    height: 600px;
    background-image: url('scaleup.svg');
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    background-color: black;
}
.q {
    height: 150px;
    width: auto;
    background-color:white;
    border-top:black solid 1px;
    border-bottom: black solid 1px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
}
.q p {
    font-size: 50px;
    margin: auto;
}
.container1 {
    display:flex;
    height: 500px;
    width: 100%;
}
.box1 {
    margin-top: 10px;
    background-image: url('inv.svg');
    background-size: contain;
    background-repeat: no-repeat;
    flex:1;
    
}
.box2 {
    color:black;
    flex:1;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    text-align: center;
    word-spacing: 10px;
    line-height: 50px;
}


footer {
    height: 60px;
    border-top: solid black 1px;
    background-color: black;
    text-align: center;
    bottom: 0px;
    color: white;
}