{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            BVMT-API
        </title>
        <link rel="stylesheet" href="{% static 'stocks_api/styles.css' %}">
    
    </head>
    <body>
        <header>
            <nav class="nav_bar">
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="http://127.0.0.1:8000/about" target="_blank">About</a></li>
                <li><a href="https://github.com/Naouali/BVMT-API" target="_blank">Documentation</a></li>
                <li><a href="http://127.0.0.1:8000/register" target="_blank">Get your API</a></li>
                </ul>
            </nav>
        </header>
        
       <div class = "box1">
       </div>
    </body>
</html>