{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Mapi
        </title>
        <link rel="icon" href="{% static 'stocks_api/mapi.png' %}">
        <link rel="stylesheet" href="{% static 'stocks_api/styles.css' %}">
    
    </head>
    <body>
        <header>
            
            <nav class="nav_bar">
                <div class="mylogo"></div>
                <ul>
                <li><a href="#">Home</a></li>
                <li><a href="http://127.0.0.1:8000/about" target="_blank">About</a></li>
                <li><a href="https://github.com/Naouali/BVMT-API" target="_blank">Documentation</a></li>
                <li><a href="http://127.0.0.1:8000/register" target="_blank">Get your API</a></li>
                </ul>
            </nav>
        </header>
        <div class="container0"></div>
        <div class="q"> <p>Financial data is what we do!</p></div>
        <div class="container1"> 
            <div class ="box1">
                
            </div>
            <div class ="box2">
                <p> Mapi is an Ideal solution for high frequency trading
                    and quantative analysis.
                    You can get any data of any stock listed in the Tunisian
                    stock market in a matter of seconds.
                </p>
            </div>
        </div>
        <div><p>hello</p></div>
        <footer><p>© Mapi.inc 2020<p></footer>
    </body>
</html>